<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <img src="../static/images/rick and morty.png" alt="Rick and Morty Logo" style="width: 250px; margin-bottom: 20px;">
        <h1>Bem-vindo ao MrPoopybutthole Chat</h1>
        
        <form method="POST">
            <label for="user">Nome Usuario:</label>
            <input type="text" name="user" id="user">
            <input type="submit" name="Confirmar" id="Confirmar" value="Entrar">
        </form>

        <form action="/usuario" method="get">
            <input type="submit" value="Abrir Mensagens">
        </form>

        <img src="../static/images/Pickle-Rick-PNG-Isolated-HD.png" alt="Pickle Rick" style="width: 100px; margin-top: 20px;">
    </div>
</body>
</html>
